html , body  {
    margin: 0;
    height: 100vh;
}
#background{
    background-color: #E9EEF6;
    height: 100%;
    width: 100%;
}
#card{
    background-color: transparent;
    height: 40.5rem;
    width: 76.5rem;
    position:relative;
    top:50% ;
    left: 50%;
    transform: translate(-50% , -50%);

   
}
#card>.panel{
    width: 30%;
    height: 100%;
    background-color: #3A001E;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    color:white;
    font-weight: bold;
    position: absolute;
    left: 2.25%;
    z-index: 1;
    /* border-right: 5px solid red; */
    box-shadow: 8px 0px 0px 0px rgba(128,0,0,0.6);

}
#card>.panel>.button{
    height: 10%;
}
#card>.panel>.image{
    height: 25%;
}
.button>img{
    position: relative;
    left: 10%;
}
.button>p{
    display: inline-block;
    position: relative;
    left: 15%;
    top: -25%;
    letter-spacing: 2px;

}
.image >img{
    height: 120px;
    width: 120px;
    position: relative;
    top:50% ;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 50%;
}




#card>.page{
    width:70%;
    height: 100%;
    position: relative;
    
    left: 30%;
    background-color: #F5E4E3;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1), 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3);
}

h2{
    margin: 0;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.page>form{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows:repeat(4,1fr) ;
    /* background-color: rgb(255, 255, 255); */
    height: 75%;
    width: 85%;
    position:relative;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-size: large;
}
label{
    display: block;
    padding-bottom: 2px;
    padding-left:6%
}
input{
    border: 2px solid;
    border-color: brown;
    width: 90%;
    height: 40%;
    border-radius: 12px;
    transition: background-color 400ms;
}
input:hover{
    border: 3px solid maroon;
}
button{
    height: 35%;
    width: 92%;
    border-radius: 12px;
    font-size: medium;
    border: none;
    background-color: #3A001E;
    color: white;
    transition: background-color 400ms;
}
button:hover{
    background-color: #8f1654;
}